$color-W : rgb(255, 255, 255);
$b-color: rgb(150, 150, 150);
$color-Bv : #FF0000;
$color-1 : #4616e5;
$color-2 : rgb(8, 8, 8);
$color-3 : rgb(174, 168, 168);
$color-4 : rgb(29, 28, 28);
$color-5 : #463838;
$color-6 : #a18e99;
$color-7 : rgb(255, 148, 148);
$color-8 : rgb(195, 135, 61); 
$color-9 : darkgrey;
$color-10 : #305768;
$color-11 : #16151b;
$color-12 : #ff9f43;
