
@use './reset.scss';
@use './bootstrap.scss';
@use './animation.scss';
@use './tarjeta.scss';


body{
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(../../img/textura-tela-blanca-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    /*background-image: radial-gradient(circle at 70.73% 50%, #ffb9b2 0, #ffb0b4 8.33%, #ffa7b7 16.67%, #ff9eba 25%, #ff94bd 33.33%, #ff89c1 41.67%, #f57fc5 50%, #e776ca 58.33%, #d670d0 66.67%, #c36cd7 75%, #ad6bdd 83.33%, #936ce4 91.67%, #736dea 100%);*/
}
.logoM{

    width: 40px;
    height: 50px;
}

.contenedorI{
    height: 450px;
    width: 100%;
}

.contenedorI img{
    height: 100%;
    width: 100%;
}


aside, aside nav{
    background: none;
}




.divaside{
    background: none;
}

a{
    z-index: 100;
}



h2{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    
}

.texto{
    text-shadow: rgb(150, 150, 150) 5px 5px 5px;
    animation: mianimacion 4s ease-in-out 0s infinite normal none;
}

@keyframes mianimacion { 
    0% { 
    color: #FFFFFF; 
    } 
    50% { 
    color: #FF0000; 
    } 
    100% { 
    color: #4616e5; 
    } 
   } 
.main_p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.div-of{
    position: relative;
    width: 500px;
    
}

.card-img-top{
    margin-top: 10px;
}

.card-img-bottom{
    margin-bottom: 10px;
}