
@use './reset.scss';
@use './bootstrap.scss';
@use './animation.scss';
@use './tarjeta.scss';


body{
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(../../img/textura-tela-blanca-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
}

.logoM{

    width: 40px;
    height: 50px;
}

.contenedorI{
    height: 450px;
    width: 100%;
}

.contenedorI img{
    height: 100%;
    width: 100%;
}


aside, aside nav{
    background: none;
}




.divaside{
    background: none;
}

a{
    z-index: 100;
}



h2{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    
}

.texto{
    text-shadow: rgb(150, 150, 150) 5px 5px 5px;
    animation: mianimacion 4s ease-in-out 0s infinite normal none;
}

@keyframes mianimacion { 
    0% { 
    color: #FFFFFF; 
    } 
    50% { 
    color: #FF0000; 
    } 
    100% { 
    color: #4616e5; 
    } 
   } 
.main_p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.div-of{
    position: relative;
    width: 500px;
    
}

.card-img-top{
    margin-top: 10px;
}

.card-img-bottom{
    margin-bottom: 10px;
}

.wave{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.imag_nov{
    width: 40%;
    height: 140px;
}

.accordion-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-fluid{
    text-align: center;
}